<ion-view view-title="FLEXIBLE VACCINES">
	<ion-content direction="y" scroll="true" id="Products">
    <div class="row bloc1">
        <div class="col col-50">
            <div class="bloc11">
                <img src="img/images/img_bottle1.png" style="margin-left: 230px;"/>
                <div class="title">
                    <h1>Aftovaxpur™</h1>
                    <img src="img/images/bottle1.png" class="img-responsive"/>
                </div>
                <div class="bloc">
                    <ul>
                        <li><p>Inactivated and purified active ingredients adjuvanted with aluminium hydroxide  and saponin, generating immunization in cattle, sheep and goats under subcutaneous route.</p></li>
                        <li><p>Highly potent vaccine (at least 6 PD50).</p></li>
                        <li><span>24 months shelf life.</span></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class="col col-50">
                <div class="bloc12">
                    <img src="img/images/img_bottle2.png" style="margin-left: 230px;"/>
                    <div class="title">
                        <h1>Aftopor™</h1>
                        <img src="img/images/bottle2.png" class="img-responsive"/>
                    </div>
                    <div class="bloc">
                        <ul>
                            <li><p>Inactivated and purified active ingredients formulated in a double oil emulsion (W/O/W), generating immunization in pigs, cattle, sheep and goats under intramuscular route.<br><br></p></li>
                            <li><p>Highly potent vaccine (at least 6 PD50).<br></p></li>
                            <li><span>18 months shelf life.</span></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="row bloc2">
        <div class="col col-50">
            <div class="bloc21">
                <img src="img/images/loop11.png"/>
                <h1>AFTOVAXPUR<sup>TM</sup></h1>
                <h1>Mean Batch Stability</h1>
                <h1>for 4 vaccine strains </h1>
                <div class="blocimage">
                    <img src="img/images/fig11.png"/>
                </div>
                <span>Source: Merial recent internal data</span>
            </div>
        </div>
        <div class="col col-50">
            <div class="bloc22">
                <img src="img/images/loop12.png"/>
                <h1>AFTOPOR<sup>TM</sup></h1> <h1>and AFTOVAXPUR<sup>TM</sup></h1> <h1>Duration of immunity</h1>
                <div class="blocimage">
                    <img src="img/images/fig2.png"/>
                </div>
                <span>Source: Internal study conducted mesuring VNT (log10) against O Manisa</span>
            </div>
        </div>
    </div>
    <div class="row bloc3">
        <div class="col col-60" style="background: #eceeee;">
            
            <div class="bloc31">
                <img src="img/images/loop13.png"/>
                <h1>Safety study of AFTOPOR™ in dairy farms</h1>
                <p>Clinical Foot and Mouth Disease has a significant effect on milk production - 60-80% milk drop for 2-3 weeks and 10-20% after recovery, for an extended period of time.</p>
                <p style="text-align:right">Source: EU-FMD webinar September 2014</p>
                <div class="blocimage">
                    <img src="img/images/fig3.png"/>
                </div>
                <span>Source: Safety Evaluation of AFTOPORTM Vaccine Following Administration to Dairy Cows. P. Hudelet,B. Sharir, H. Yadin, B. Gelman, E. Kinnich, M. Van Straten, E. Perry, P. Dubourget</span>
            </div>
        </div>
        <div class="col col-40" style="margin:0;padding:0;">
            <div class="bloc32">
                <div class="test">
                    <h2>Merial FMD vaccine efficiency:</h2>
                    <ul>
                        <li><p>An insurance for milk producers</p></li>
                        <li><p>Proven field safety in dairy farms</p></li>
                    </ul>
                </div>
                    <h1>MILK DROP</h1>
                <div class="partie">
                    <div class="partie1">
                        <span>1%</span>
                        <p>with AFTOPOR™</p>
                        <p style="padding-top:2px;margin-bottom: 48px;">only 1% milk drop for 2 weeks</p>
                    </div>
                    <div class="partie2">
                        <span>60%-80%</span>
                        <p >without</p>
                        <p style="padding-top:2px">vaccination:</p>
                        <p style="padding-top:2px">60/80% milk drop for 2-3 weeks in case of outbreak</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bloc4">
        <div class="col col-33">
            <div class="bloc41">
                <div class="title">
                    <h1>Aftovaxpur™</h1>
                    <img src="img/images/bottle1.png" class="img-responsive"/>
               </div>
               <div class="description">
                    <ul>
                        <li><p>High potent (≥ 6 PD50), purified aqueous vaccine for all ruminants, suitable for endemic and emergency situations.</p></li>
                        <li><p>Subcutaneous route of administration.</p></li>
                    </ul>
                    <span>Pack size available  50 ml    100 ml    200 ml    300 ml</span>
                    <img src="img/images/animaux_bleu.png"/>
               </div>
            </div>
        </div>
        <div class="col col-33">
            <div class="bloc42">
                <div class="title">
                    <h1>Aftopor™</h1>
                    <img src="img/images/bottle2.png" class="img-responsive"/>
               </div>
               <div class="description">
                    <ul>
                        <li><p>High potent (≥ 6 PD50), purified oily vaccine for all ruminants and pigs, suitable for endemic and emergency situations.</p></li>
                        <li><p>Intramuscular route of administration.</p></li>
                    </ul>
                    <span>Pack size available  50 ml    100 ml    200 ml    300 ml</span>
                    <img src="img/images/animaux_vert.png"/>
               </div>
            </div>
        </div>
        <div class="col col-33">
            <div class="bloc43">
                <div class="title">
                    <h1>Aftovax™</h1>
                    <img src="img/images/bottle5.png" class="img-responsive"/>
                </div>
                <div class="description">
                    <ul>
                        <li><p>At least 3 PD50, non-purified aqueous vaccine for all ruminants, suitable for endemic situations. 
                        </p></li>
                        <li><p>Subcutaneous route of administration.</p></li>
                    </ul>
                    <span>Pack size available  50 ml    100 ml    200 ml    300 ml</span>
                    <img src="img/images/animaux_bleu.png"/>
                </div>
            </div>
            <a href="#/app/legacy" class="legal">
                <span>Legal indications</span>
            </a>
        </div>
    </div>
	</ion-content>

	<div class="center-right-invs">
		<a href="#/app/potency">
			<span style="display: inline-block;">POTENCY <span style="margin-left:5px" class="ion-chevron-down"></span> </span>
		</a>
		<a href="#/app/services">
			<span style="display: inline-block;">SERVICES <span style="margin-left:5px" class="ion-chevron-down"></span> </span>
		</a>
	</div>
</ion-view>