<ion-view view-title="LEGAL INDICATIONS">
    <ion-content direction="y" scroll="true">
		<p style="margin: 20px 40px 0px 40px ;">
			Communications regarding veterinary medicines described on this leaflet are in compliance with the regulations of the country for which they are intended.<br> All
indications, conditions of prescription and delivery of such medicines may differ according to different regulations in different countries.<br> It is the responsibility
of the reader to check this.<br> Thank you.<br>
AFTOVAXPURTM SPC: 1. Composition.<br> A/Antigen: lnactivated Purified Vaccine against Foot and Mouth Disease in Ruminants: - lnactivated Foot and Mouth Disease
Virus containing one or several serotypes appropriate to the region.<br> - Type 0, Type A, Type C, Type Asia 1, Type SAT 1, Type SAT 2, Type SAT 3. - Each dose of vaccine
contains 3 or more PD50 per valency (refer to label).<br> B/Adjuvants: Aluminium hydroxide and saponin.<br> 2. Indications: The vaccination of ruminants against Foot and
Mouth Disease.<br> 3. Administration and dosage: (additional information in the Merial booklet ‘Guidance for FMD Vaccination’ is available from your distributor).<br> Shake
well immediately before use.<br> Avoid bubble formation which can be very irritating at the site of injection.<br> Subcutaneous route.<br> ln cattle, the area of the neck in front
of the shoulder and, in sheep and goats, the upper neck.<br> Dose: regardless of the age and weight of the animal.<br> Refer to the label on the container according to the
following schedule:- Area at Low FMD Risk: Primary course in animals from non-vaccinated dams: All lambs and kids from 14 days old: 1 vaccination.<br> If kept beyond
6 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> From one year of age, revaccinate sheep and goats annually.<br> All calves from 14 days old:
2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> Primary course in animals with maternally derived antibodies from vaccinated dams: All lambs and
kids at 2.5 months: 1 vaccination.<br> If kept beyond 6 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> From one year of age, revaccinate sheep
and goats annually.<br> All calves at 2.5 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> - Area Heavily lnfected: Primary course in animals from
non-vaccinated dams: All animals from 14 days old: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 4 months for cattle and every 6 months for sheep and goats.<br>
Primary course in animals with maternally derived antibodies from vaccinated dams: All animals from 2 months old: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate
every 4 months for cattle and every 6 months for sheep and goats.<br> 4. Contraindications: None.<br> 5. Precautions: Vaccinate only healthy animals.<br> Handle pregnant
animals with great care.<br> Observe usual aseptic conditions.<br> Once opened, bottles of vaccine should be used within 36 hours, provided they have been stored between
+2°C and +8°C (and not multi-punctured).<br> 6. Side effects: Vaccination may be followed by a small local swelling and/or slight pyrexia, both of short duration.<br> The
purity of this vaccine means that hypersensitivity reactions are very unlikely.<br> 7. Withdrawal time: Zero days.<br> 8. Storage: Store between +2° and +8°, protected from
light.<br> Do not freeze.<br> 9. Presentations: Bottles AFTOVAXPURTM 50 ml, 100 ml, 200 ml 300 ml.<br> For animal treatment only.<br> MERIAL ANIMAL HEALTH LTD Ash Rd Pirbright
Woking Surrey GU24 ONQ United Kingdom
AFTOVAXTM SPC: lnactivated Vaccine against Foot and Mouth Disease in Ruminants.<br> 1. Composition.<br> A/Antigen: - lnactivated Foot and Mouth Disease Virus containing
one or several serotypes appropriate to the region.<br> -Type 0, Type A, Type C, Type Asia 1, Type SAT 1, Type SAT 2, Type SAT 3. - Each dose of vaccine contains
3 or more PD50 per valency (refer to label).<br> B/Adjuvants:- Aluminium hydroxide and saponin.<br> 2. Indications: The vaccination of ruminants against Foot and Mouth
Disease.<br> 3. Administration and dosage: (additional information in the Merial booklet ‘Guidance for FMD Vaccination’ is available from your distributor).<br> Shake well
immediately before use.<br> Avoid bubble formation which can be very irritating at the site of injection.<br> Subcutaneous route.<br> ln cattle, the area of the neck in front of
the shoulder and, in sheep and goats, the upper neck.<br> Dose: regardless of the age and weight of the animal.<br> Refer to the label on the container according to the
following schedule:- Area at Low FMD Risk: Primary course in animals from non-vaccinated dams: All lambs and kids from 14 days old: 1 vaccination.<br> If kept beyond
6 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> From one year of age, revaccinate sheep and goats annually.<br> All calves from 14 days old:
2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> • Primary course in animals with maternally derived antibodies from vaccinated dams: All lambs
and kids at 2.5 months: 1 vaccination.<br> If kept beyond 6 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> From one year of age, revaccinate
sheep and goats annually.<br> All calves at 2.5 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> - Area Heavily lnfected: Primary course in animals
from non-vaccinated dams: All animals from 14 days old: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 4 months for cattle and every 6 months for sheep
and goats • Primary course in animals with maternally derived antibodies from vaccinated dams: All animals from 2 months old: 2 vaccinations 4 to 5 weeks apart.<br>
Revaccinate every 4 months for cattle and every 6 months for sheep and goats.<br> 4. Contraindications: None.<br> 5. Precautions: Vaccinate only healthy animals.<br> Handle
pregnant animals with great care.<br> Observe usual aseptic conditions.<br> Once opened, bottles of vaccine should be used within 36 hours, provided they have been stored
between +2°C and +8°C and not multi-punctured.<br> 6. Side effects: Vaccination may be followed by a small local swelling and/or slight pyrexia, both of short duration.<br>
The method of preparation of this vaccine means that hypersensitivity reactions are unlikely.<br> 7. Withdrawal time: Zero days.<br> 8. Storage: Store between +2°C and +8°C,
protected from light.<br> Do not freeze.<br> 9. Presentations: Bottles AFTOVAXTM 50 ml, 100 ml, 200 ml, 300 ml.<br> For animal treatment only.<br> MERIAL ANIMAL HEALTH LTD.<br> Ash
Rd Pirbright Woking Surrey GU24 ONQ United Kingdom
AFTOPORTM SPC: Oil Adjuvanted, lnactivated Purified Vaccine against Foot and Mouth Disease in Pigs and Ruminants.<br> 1. Composition.<br> A/Antigen: - lnactivated Foot
and Mouth Disease Virus containing one or several serotypes appropriate to the region.<br> -Type 0, Type A, Type C, Type Asia 1, Type SAT 1, Type SAT 2, Type SAT
3. - Each dose of vaccine contains 3 or more PD 50 per valency (refer to label).<br> B/Adjuvants: - Double oil emulsion (DOE): water-in-oil-in-water.<br> 2. Indications: The
vaccination of pigs and ruminants against Foot and Mouth Disease.<br> 3. Administration and dosage: (additional information in the Merial booklet ‘Guidance for FMD
Vaccination’ is available from your distributor).<br> Mix the contents thoroughly by rotating the bottle end over end about 20 times.<br> Avoid bubble formation which can
be very irritating at the site of injection.<br> lntramuscular route.<br> Preferred site in pigs, the neck, behind the ear.<br> In ruminants, the neck in front of the shoulder.<br> Dose:
regardless of the age and weight of the animal.<br> Refer to the label on the container according to the following schedule: - Area at Low FMD Risk: Primary course in
animals from non-vaccinated dams: All piglets, lambs and kids from 14 days old: 1 vaccination.<br> If kept beyond 6 months: 2 vaccinations 4 to 5 weeks a part.<br> Revaccinate
every 6 months.<br> From one year of age, revaccinate sheep and goats annually.<br> • All calves from 14 days old: 2 vaccinations 4 to 5 weeks a part.<br> Revaccinate
every 6 months.<br> Primary course in animals with maternally derived antibodies from vaccinated dams: All piglets, lambs and kids at 2.5 months: 1 vaccination.<br> If
kept beyond 6 months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> From one year of age, revaccinate sheep and goats annually.<br> All calves at 2.5
months: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 6 months.<br> - Area Heavily lnfected: Primary course in animals from non-vaccinated dams: All animals
from 14 days old: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 4 months for cattle and pigs • and every 6 months for sheep and goats.<br> Primary course in
animals with maternally derived antibodies from vaccinated dams: All animals from 2 months old: 2 vaccinations 4 to 5 weeks apart.<br> Revaccinate every 4 months
for cattle and pigs and every 6 months for sheep and goats.<br> 4. Contraindications: None.<br> 5. Precautions: Vaccinate only healthy animals.<br> Handle pregnant animals
with great care.<br> Observe usual aseptic conditions.<br> Once opened, bottles of vaccine should be used within 36 hours, provided they have been stored between +2°C
and +8°C and not multi-punctured.<br> 6. Side effects: Vaccination may be followed by a small local swelling and/or slight pyrexia, both of short duration.<br> The purity of
this vaccine means that hypersensitivity reactions are very unlikely.<br> 7. Withdrawal time: Zero days.<br> 8. Storage: Store between +2°C and +8°C, protected from light.<br>
Do not freeze.<br> 9. Presentations: Bottles AFTOPORTM 20ml, 50 ml, 100 ml, 200 ml, 300 ml.<br> For animal treatment only.<br> MERIAL ANIMAL HEALTH LTD.<br> Ash Rd Pirbright
Woking Surrey GU24 ONQ United Kingdom.<br>

		</p>
    </ion-content>
</ion-view>