<ion-view view-title="POTENCY">
  <ion-content direction="y" scroll="true" id="Flexible">
  <div class="bloc">
      <h1>Broad heterologous cross-protection confirmed for Merial type O, A, Asia1 high-potency vaccines</h1>
        <ul>
            <li><p>Despite low r1 values, all animals which received a full dose of Merial high-potency vaccine (more than 6PD50) were protected in 11/12 in vivo potency tests against type A and ASIA1 challenge strains.</p></li>
            <li><p style="margin-bottom:0">Vaccine potency is at least as important as the r1 value.</p></li>
        </ul>
        <div class="bloc11">
          <img src="img/images/flexible1.png"/>
        </div>
        <div class="bloc12">
          <img src="img/images/flexible2.png"/>
            <p>*one inconclusive (culled at 7dpc due to anorexia)</p>
            <p>Twenty one days post vaccination cattle were challeged with 105 TCID50 of ASIA 1 TUR/49/2011. </p>
            <p>All animals were monitored for 8 days post-challenge.</p>
        </div>
  </div>
    <div class="bloc2">
        <h1>60% and 80% of pigs protected with Merial’s O Manisa vaccine against heterologous challenge at 4 and 7 days post-vaccination</h1>
        <div class="bloc21">
          <img src="img/images/flexible3.png"/>
            <p>Study design: Vaccine:  6PD50 monovalent 01 Manisa. Challenge; O/VIY/2010 (O Mya 98 lineage) 100.000 TCID50/pig</p>
            <p>Courtesy: Pirbright Institute and Frederich Loeffler Institute and Australian Animal Health Laboratory</p>
        </div>
        <div class="bloc22">
           <ul>
                <li><p>Efficacy against heterologous challenge with FMDV O Mya98 lineage.</p></li>
                <li><p style="margin-bottom:0">In case of early exposure to the disease, vaccination with a Merial O Manisa highly potent vaccine allows reduction of clinical disease and may limit spread by reducing transmission.</p></li>
            </ul>
            <img src="img/images/flexible4.png"/>
        </div>
    </div>
  </ion-content>
</ion-view>