<ion-view view-title="SERVICES">
  <ion-content direction="y" scroll="true" id="service">
		    <div class="row padding-top-30" style="overflow: hidden;">
		        <div class="bloc11">
		              <h2>A dedicated team of Veterinary Professionals at the service of Foot-and-Mouth Disease control and preparedness.</h2>
		              <p>Merial VPH Technical Services assists governments, veterinary services, veterinarians and livestock producers in 
		              their efforts to control Foot-and-Mouth Disease  through scientific advice, laboratory and diagnostic testing. 
		              Our staff of Technical Service Professionals, composed of veterinarians fully knowledgeable about all the aspects of FMD and our products, 
		              is available to answer questions about our products and provide valuable scientific input into FMD control programs.</p>
		              <p>Our dedicated FMD Technical Service Lab provides specialized laboratory support in the field of diagnostics, vaccine 
		              matching and post-vaccination monitoring.  Based in Lelystad, it works closely with the R&D team, creating relevant synergies. 
		              The FMD Technical Service Lab partners with other laboratories and offers training programs on standard FMD techniques as well as
		              participation to proficiency tests.</p>
		          </div>
		        <div class="bloc12">
		             <img src="img/images/img1_service.png" class="img-responsive" alt="service1">
		        </div>
		    </div>
		<div class="row padding-top-30" style="padding-right: 0px !important;">
		    	<div class="bloc21">
		        	<img src="img/images/img2_service.png" class="img-responsive" alt="service1">
		        </div>
		        <div class="bloc22">
		        	<h2>Flexible industrial models adapted to customers’ needs and requirements:</h2>
		            <ul>
		            	<li>Ready-to-use vaccines compliant with the most stringent regulatory requirements.</li>
		                <li>Semi-finished product for local formulation.</li>
		                <li>Antigen banks to be ready for all emergency situations.</li>
		            </ul>
		        </div>
		        <div class="bloc23">
		        	<h2><span>3</span> <img src="img/images/img3_service.png"> major industrial partnerships:</h2>
		            <p>South Korea, Vietnam, Botswana</p>
		    	</div>
		    </div>
		     <div class="row padding-top-30" style="padding-right: 0px !important;">
		    	 <div class="bloc31">
		        	<h2><span>3</span> <img src="img/images/img4_service.png" alt="img4_service"><br> manufacturing and R&D sites in Europe
		dedicated to FMD:</h2>
		 Lyon (FR), Pirbright (UK), Lelystad (NL)
		    	</div>
		       <div class="bloc32">
		        	<h2>Over <span>65</span> years’ experience in large-scale production of vaccines against FMD</h2>           
		        </div>
		    </div>
	</ion-content>
</ion-view>
